@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: "Thunder";
  src:
    url("assets/fonts/Thunder-BoldLC.woff") format("woff");
}


html{
  scroll-snap-type: y mandatory;
  scroll-behavior:smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

p{
  margin: 0;
}

body{
  color: lightgray;
  background-color: #141416;
   /* background-color: #0c0c1d; */
}

h2{
  font-weight: 800;
  font-size: 55px;
  line-height: 55px;

    @media only screen and (max-width: 500px) {
      font-size: 36px;
      line-height:40px;
    }
}

p{
  // margin-top: 25px;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: lightgray;
}

.slider{
  height: 100vh;
  scroll-snap-align: center;
}

nav{
  h1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 4px;
  }

    .logo{
        .blink{
            animation: blink-animation 1.6s infinite;
        }  
    }
}

.hero-section{
  height: 100%;
  overflow-x: clip;

  .myElement{
    display: inline-block;
    cursor: default;
    white-space: pre;
    font-size: 60px;
    line-height: 1;

  }

  .bounce{
    transition: all .3s ease-out;
    &:hover{
      animation: rubberEffect 1s ease-in-out infinite;
      color: #9c27b0;
    }
  }
  .dots-img{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -10%;
    transform: rotate(90deg);
  }

  .purple-square{
    width: 225px;
    height: 225px;
    opacity: 0.7;
    position: absolute;
    bottom: -12%;
    left: 35%;
    cursor: grab;
    z-index: 999;
    // transition: all .3s ease-in-out;

    &:active{
      cursor: grabbing;
      opacity: 1;
    }
  }

  .animation-img{
    position: absolute;
    transform: translate3d(9.6rem, 10.8rem, 28rem);

    // top: 15.4%;
    // left: 24.8%;

    @media only screen and (max-width: 600px) {
      width: 27%;
      height: auto;
      top: -16%;
      left: -19%;
      z-index: 99;
    }
  }
  .laptop-img{
    width: 90%;
    height: auto;
    // position: absolute;
    // top: 50%;
    // left: 45%;
    // transform: translate(-50%, -50%);
    z-index: -1;

    @media only screen and (max-width: 600px) {
      transform: translate(0%, 0%);
    }
  }

  .about-me{
    cursor: pointer;
   
    .angle-img{
      transition: all .3s ease-out;
    }
    
    &:hover{
      .angle-img{
        transform: rotate(0deg);
      }
    }
  }
}

.big-text{
//   background: linear-gradient(#f551b4, #3089b0);
//    -webkit-text-fill-color: transparent;
  // background: linear-gradient(#f551b4, #3089b0);
//   -webkit-background-clip: text;
//   // background-clip: text;
  .hero-bg{
    background-image: url("../public/stars.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-repeat: repeat-x;
  }

  .hero-bg-inifinit-text {
    position: absolute;
    white-space: nowrap; 
    top: 0;
    text-transform: uppercase;  
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, rgba(156,39,176,1) 0%, rgba(194,152,211,1) 70%, rgba(220,230,235,1) 100%);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 550px;
    font-weight: 800;
    line-height: 1;
    font-family: "Thunder",sans-serif;

    @media screen and (max-width:600px) {
      top: 25%;
      font-size: 320px;
    }
  }

  .hero-home-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #1e1e1e, rgba(30, 30, 30, 0));
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .name{
    font-family: Thunder, sans-serif;
    font-size: 245px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3%;
    z-index: 99;

  }
}

@mixin dynamic-box-shadow($color) {
  &:hover {
    box-shadow: 0px 0px 20px 2px $color;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
}

.skills-section{

  .top-text{
    p{
      font-size: 17px;

      @media only screen and (max-width: 600px) {
        font-size: 16px;
      }

    }
  }
  .skills_brands{
    width: 75%;
    margin: 0 auto;
  
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  
    .skill{
      margin: 20px 30px;
      text-align: center;
  
      @media only screen and (max-width: 600px) {
        text-align: center;
        margin: 15px 0;
        align-items: center;
        width: 33%;
        display: flex;
        flex-direction: column;
      }
      svg,img{
        width: 70px;
        height: 70px;
        @media only screen and (max-width: 600px) {
          width: 50px;
          height: 40px;
        }
      }
      p{
        margin-top: 12.5px;
        line-height: normal;
      }
     
      .javaScript{
        @include dynamic-box-shadow(#F7E018);
      }
      .react{
        @include dynamic-box-shadow(#0C9FCB);
      }
      .node{
        @include dynamic-box-shadow(#8CC84B);
      }
      .html{
        @include dynamic-box-shadow(#E44D26);
      }
      .css{
        @include dynamic-box-shadow(#264DE4);
      }
      .wordpress{
        @include dynamic-box-shadow(#28799E);
      }
      .sass{
        @include dynamic-box-shadow(#BF558A);
      }
      .bootstrap{
        @include dynamic-box-shadow(#5B4380);
      }
      .git{
        @include dynamic-box-shadow(#E84D31);
      }
      .vsCode{
        @include dynamic-box-shadow(#0A69A8);
      }
      .figma{
        @include dynamic-box-shadow(#F24E1E);
      }
      .shopify{
        @include dynamic-box-shadow(#95BF46);
      }
    }
  }
}

.project-section{
  .animationLoader{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 5px;
  }
}






// keyframes

@keyframes blink-animation{
  0% {
    fill: #000;
  }

  49% {
      fill: #000;
  }
  60% {
      fill: #9c27b0;
  }
  99% {
      fill: #9c27b0;
  }
  100% {
      fill: #000;
  }
}


@keyframes rubberEffect {
  0%, 100% {
    transform: scaleY(1);
  }

  20% {
    transform: scale3d(1.2,0.7,1);
  }

  40% {
    transform: scaleY(1.2);
  }

  55% {
    transform: scaleY(0.85);
  }

  70% {
    transform: scaleY(1.15);
  }

  85% {
    transform: scaleY(0.95);
  }
}
